<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
            data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container"><a class="navbar-brand d-inline-flex" href="index.html"><img class="d-inline-block"
                        src="./assets/img/gallery/logo.svg" alt="logo" /><span
                        class="text-1000 fs-3 fw-bold ms-2 text-gradient">Food2Go</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">
                    </span></button>
                <div *ngIf="!user" class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0"
                    id="navbarSupportedContent">
                    <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
                        <!-- <p class="mb-0 fw-bold text-lg-center pb-2">You are not logged in</p> -->
                    </div>
                    <a class="btn btn-white shadow-warning text-warning pull-right" (click)="login()"> <i
                            class="fas fa-user me-2"></i>Login</a>
                </div>
                <div *ngIf="user" class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0"
                    id="navbarSupportedContent">
                    <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
                        <p class="mb-0 fw-bold text-lg-center"><i class="fas fa-user text-warning mx-2"></i> Hello, {{
                            user?.first_name }} {{ user?.last_name }} <i
                                class="fas fa-map-marker-alt text-warning mx-2"></i> <span>Current Location:
                            </span><span>{{ user?.user_informations?.complete_address }}</span></p>
                    </div>
                    <div class="mx-auto pt-2 pt-lg-0 d-block d-lg-none d-xl-block">
                        <a class="btn btn-danger text-white pull-right" [routerLink]="'/stores/activities/transactions'"> <i
                                class="fas fa-bars me-2"></i>Transactions/Orders</a>
                    </div>
                    <div class="mx-auto pt-2 pt-lg-0 d-block d-lg-none d-xl-block">
                        <a class="btn btn-danger text-white pull-right" (click)="logout()"> <i
                                class="fas fa-user me-2"></i>Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <section class="py-5 overflow-hidden bg-primary" id="home">
            <div class="container">
                <div class="row flex-center">
                    <!-- <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner"
                            href="#!"><img class="img-fluid" src="./assets/img/gallery/hero-header.png"
                                alt="hero-header" /></a></div> -->
                    <div class="col-md-7 col-lg-6 pt-5 text-md-start text-center">
                        <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">{{ store?.name }}</h1>
                        <button class="btn btn-danger" type="button" (click)="back()">Go Back</button>
                    </div>
                </div>
            </div>
        </section>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-4 overflow-hidden">

            <div class="container">
                <div class="row gap-4 h-100 mx-auto">
                    <div class="col-lg-12  text-center mt-5">
                        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">CHECKOUT</h5>
                    </div>
                    <div class="col-lg-7 card">
                        <div class="w-full max-w-3xl">

                            <!-- Form -->
                            <form [formGroup]="checkoutForm">
                                <!-- Section -->
                                <div class="w-full mt-2">
                                    <div class="text-xl font-bold">Information</div>
                                </div>
                                <div class="grid sm:grid-cols-4 gap-3 w-full mt-3">
                                    <!-- Name -->
                                    <div class="sm:col-span-4">
                                        <mat-form-field class="fuse-mat-no-subscript w-full">
                                            <mat-label>Name</mat-label>
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                                            </mat-icon>
                                            <input [formControlName]="'name'" matInput readonly>
                                        </mat-form-field>
                                    </div>
                                    <!-- Contact -->
                                    <div class="sm:col-span-4">
                                        <mat-form-field class="fuse-mat-no-subscript w-full">
                                            <mat-label>Contact</mat-label>
                                            <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:phone'" matPrefix>
                                            </mat-icon>
                                            <input [formControlName]="'contact'" matInput>
                                        </mat-form-field>
                                    </div>
                                    <!-- Address -->
                                    <div class="sm:col-span-4">
                                        <mat-form-field class="fuse-mat-no-subscript w-full">
                                            <mat-label>Address</mat-label>
                                            <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:location_on'"
                                                matPrefix></mat-icon>
                                            <input [formControlName]="'address'" matInput>
                                        </mat-form-field>
                                    </div>
                                    <!-- Mode of Payment -->
                                    <div class="sm:col-span-2">
                                        <mat-form-field class="fuse-mat-no-subscript w-full">
                                            <mat-label>Mode of Payment</mat-label>
                                            <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:payments'" matPrefix>
                                            </mat-icon>
                                            <mat-select [formControlName]="'mode_of_payment'" matInput>
                                                <mat-option (click)="resetProof()" value="cod">Cash on Delivery
                                                </mat-option>
                                                <mat-option value="gcash">Gcash</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <!-- Proof -->
                                    <div class="sm:col-span-1"
                                        *ngIf="checkoutForm.get('mode_of_payment').value == 'gcash'">
                                        <ng-container class="fuse-mat-no-subscript w-full">
                                            <mat-label class="font-semibold">Gcash Information:</mat-label>&nbsp;
                                            <input [value]="store?.contact" matInput readonly>
                                            <input [value]="store?.users?.full_name" matInput readonly>
                                        </ng-container>
                                    </div>
                                    <!-- Proof -->
                                    <div class="sm:col-span-1"
                                        *ngIf="checkoutForm.get('mode_of_payment').value == 'gcash'">
                                        <ng-container class="fuse-mat-no-subscript w-full">
                                            <mat-label class="font-semibold">Proof of Payment</mat-label>&nbsp;<mat-icon
                                                class="icon-size-4" [svgIcon]="'heroicons_outline:question-mark-circle'"
                                                title="Attach the screenshot receipt from GCash"></mat-icon>
                                            <input type="file" name="attachment" #attachment
                                                (change)="onUpload($event)">
                                        </ng-container>
                                        <div class="mt-1 text-md text-hint">Attach the screenshot receipt from GCash.
                                            This will verify by the merchant</div>
                                    </div>
                                    <!-- Note -->
                                    <div class="sm:col-span-4">
                                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                            <mat-label>Note</mat-label>
                                            <textarea matInput [formControlName]="'note'" cdkTextareaAutosize
                                                [cdkAutosizeMinRows]="5"></textarea>
                                        </mat-form-field>
                                        <div class="mt-1 text-md text-hint">Anything you want to add?</div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                    <div class="col-lg-4 card">
                        <div class="w-full mt-2">
                            <div class="text-xl font-bold">Checkout Details</div>
                        </div>
                        <div class="mt-3">
                            <div class="grid grid-cols-4 gap-5">
                                <span class="text-lg font-bold w-full">ITEM</span>
                                <span class="text-lg font-bold w-full">PRICE</span>
                                <span class="text-lg font-bold w-full">QTY</span>
                                <span class="text-lg font-bold w-full">TOTAL</span>
                            </div>

                            <!-- Divider -->
                            <div class="col-span-12 mt-1 mb-4 border-b"></div>

                            <!-- Item -->
                            <div class="grid grid-cols-4 gap-5 my-2" *ngFor="let item of cart.items">
                                <span class="text-lg font-bold w-full">{{ item?.product_name }}</span>
                                <span class="text-lg w-full">{{ item?.price | currency: '₱'}}</span>
                                <span class="text-lg w-full">{{ item?.quantity }}</span>
                                <span class="text-lg w-full">{{ item?.price * item?.quantity | currency: '₱' }}</span>
                            </div>

                            <!-- Divider -->
                            <div class="col-span-12 my-4 border-b"></div>

                            <!-- Spacer -->
                            <div class="col-span-12 mt-12"></div>

                            <!-- Subtotal -->
                            <div class="col-span-10 self-center font-bold tracking-tight font-bold">SUBTOTAL</div>
                            <div class="col-span-2 text-right text-lg">{{ subtotal | currency: '₱' }}</div>

                            <!-- Divider -->
                            <div class="col-span-12 my-3 border-b"></div>

                            <!-- Tax -->
                            <div class="col-span-10 self-center font-bold tracking-tight font-bold">DELIVERY CHARGE
                            </div>
                            <div class="col-span-2 text-right text-lg">{{ this.store?.delivery_charge | currency: '₱' }}
                            </div>

                            <!-- Divider -->
                            <div class="col-span-12 my-3 border-b"></div>

                            <!-- Discount -->
                            <div class="col-span-10 self-center font-bold tracking-tight font-bold">CONVENIENCE FEE
                            </div>
                            <div class="col-span-2 text-right text-lg">{{ 5.00 | currency: '₱' }}</div>

                            <!-- Divider -->
                            <div class="col-span-12 my-3 border-b"></div>

                            <!-- Total -->
                            <div class="col-span-10 self-center text-2xl font-bold tracking-tight font-bold">TOTAL</div>
                            <div class="col-span-2 text-right text-2xl font-bold">{{ total | currency: '₱' }}</div>
                            <div class="col-span-12 my-12 w-full">
                                <button (click)="placeOrder()" *ngIf="!isAddingOrder" [disabled]="!(checkoutForm.get('contact').value?.length > 0) || !(checkoutForm.get('address').value?.length > 0) ||
                                (checkoutForm.get('mode_of_payment').value == 'gcash' && !hasProof)" type="button"
                                    class="btn btn-danger w-full">PLACE ORDER</button>
                                <button *ngIf="isAddingOrder" disabled type="button" class="btn btn-danger w-full">
                                    <i class="fa fa-spinner animate-spin"></i>&nbsp;PROCESSING</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="py-0 pt-4 bg-1000">

            <div class="container">

                <hr class="border border-800" />
                <div class="row flex-center pb-3">
                    <div class="col-md-6 order-0">
                        <p class="text-200 text-center text-md-start">All rights Reserved &copy; Your Company, 2021</p>
                    </div>
                    <div class="col-md-6 order-1">
                        <p class="text-200 text-center text-md-end"> Made with&nbsp;
                            by&nbsp;<a class="text-200 fw-bold" href="https://themewagon.com/"
                                target="_blank">ThemeWagon </a>
                        </p>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>


    </main>

</body>

</html>