<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
            data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container"><a class="navbar-brand d-inline-flex" href="index.html"><img class="d-inline-block"
                        src="./assets/img/gallery/logo.svg" alt="logo" /><span
                        class="text-1000 fs-3 fw-bold ms-2 text-gradient">Food2Go</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">
                    </span></button>
                    <div *ngIf="!user" class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
                        <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
                          <!-- <p class="mb-0 fw-bold text-lg-center pb-2">You are not logged in</p> -->
                        </div>
                          <a class="btn btn-white shadow-warning text-warning pull-right" (click)="login()"> <i class="fas fa-user me-2"></i>Login</a>
                      </div>
                      <div *ngIf="user" class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
                        <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
                          <p class="mb-0 fw-bold text-lg-center"><i class="fas fa-user text-warning mx-2"></i> Hello, {{ user?.first_name }} {{ user?.last_name }} <i class="fas fa-map-marker-alt text-warning mx-2"></i> <span>Current Location: </span><span>{{ user?.user_informations?.complete_address }}</span></p>
                        </div>
                        
                          <a class="btn btn-white shadow-warning text-warning pull-right" (click)="logout()"> <i class="fas fa-user me-2"></i>Logout</a>
                      </div>
            </div>
        </nav>
        <section class="py-5 overflow-hidden bg-primary" id="home">
            <div class="container">
                <div class="row flex-center">
                    <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner"
                            href="#!"><img class="img-fluid" src="./assets/img/gallery/hero-header.png"
                                alt="hero-header" /></a></div>
                    <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
                        <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">{{ store?.name }}</h1>
                        <h1 class="text-800 mb-5 fs-4">{{ tConvert(store?.open_hour) }} to {{ tConvert(store?.close_hour) }}<br class="d-none d-xxl-block" />{{ store?.address }}</h1>
                        <button class="btn btn-danger" type="button" (click)="back()">Go Back</button>
                    </div>
                </div>
            </div>
        </section>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-4 overflow-hidden">

            <div class="container">
                <div class="row h-100">
                    <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
                        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">{{ records?.length == 1 && records[0].products[0] == null ? 'No Available Menu' : 'Our Menu' }}</h5>
                    </div>
                    <div class="col-12">
                        <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false"
                            data-bs-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item {{record?.page == 1 ? 'active' : ''}}" data-bs-interval="{{record?.page == 1 ? '10000' : '5000'}}" *ngFor="let record of records">
                                    <div class="row gx-3 h-100 align-items-center">
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100" *ngFor="let product of record?.products" [hidden]="product == null">
                                            <div class="card card-span h-[400px] rounded-3"><img
                                                    class="img-fluid rounded-3 h-[300px] max-h-[300px]"
                                                    [src]="product?.image_url" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">{{ product?.name }}</h5>
                                                    <div><span
                                                            class="text-primary">{{ product?.description | slice:0:30}} ...</span></div><span
                                                        class="text-1000 fw-bold">{{ product?.price | currency : '₱'}}</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="javascript:;"
                                                    role="button" (click)="addToCart({product_id: product?.id, product_name: product?.name, price: product?.price})">Add to Cart</a></div>
                                        </div>
                                        <div [hidden]="record.products.length == 5" class="col-sm-6 col-md-4 col-xl mb-5 h-100" *ngFor="let x of counter(5 - record?.products.length)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev carousel-icon" type="button" *ngIf="!(records?.length == 1 && records[0].products[0] == null)"
                                data-bs-target="#carouselPopularItems" data-bs-slide="prev"><span
                                    class="carousel-control-prev-icon hover-top-shadow" aria-hidden="true"></span><span
                                    class="visually-hidden">Previous</span></button>
                            <button class="carousel-control-next carousel-icon" type="button" *ngIf="!(records?.length == 1 && records[0].products[0] == null)"
                                data-bs-target="#carouselPopularItems" data-bs-slide="next"><span
                                    class="carousel-control-next-icon hover-top-shadow" aria-hidden="true"></span><span
                                    class="visually-hidden">Next </span></button>
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>
       
        <section class="py-0 pt-7 bg-1000">

            <div class="container">

                <hr class="border border-800" />
                <div class="row flex-center pb-3">
                    <div class="col-md-6 order-0">
                        <p class="text-200 text-center text-md-start">All rights Reserved &copy; Your Company, 2021</p>
                    </div>
                    <div class="col-md-6 order-1">
                        <p class="text-200 text-center text-md-end"> Made with&nbsp;
                            by&nbsp;<a class="text-200 fw-bold" href="https://themewagon.com/"
                                target="_blank">ThemeWagon </a>
                        </p>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
      

    </main>

</body>

</html>
