<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
            data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container"><a class="navbar-brand d-inline-flex" href="index.html"><img class="d-inline-block"
                        src="./assets/img/gallery/logo.svg" alt="logo" /><span
                        class="text-1000 fs-3 fw-bold ms-2 text-gradient">foodwaGon</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">
                    </span></button>
                <div class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0" id="navbarSupportedContent">
                    <!-- <div class="mx-auto pt-5 pt-lg-0 d-block d-lg-none d-xl-block">
              <p class="mb-0 fw-bold text-lg-center">Deliver to: <i class="fas fa-map-marker-alt text-warning mx-2"></i><span class="fw-normal">Current Location </span><span>Mirpur 1 Bus Stand, Dhaka</span></p>
            </div> -->
                    <!-- <div class="input-group-icon pe-2"><i class="fas fa-search input-box-icon text-primary"></i>
                <input class="form-control border-0 input-box bg-100" type="search" placeholder="Search Food" aria-label="Search" />
              </div> -->
                    <a class="btn btn-white shadow-warning text-warning pull-right" [routerLink]="'/sign-in'"> <i
                            class="fas fa-user me-2"></i>Login</a>
                </div>
            </div>
        </nav>
        <section class="py-5 overflow-hidden bg-primary" id="home">
            <div class="container">
                <div class="row flex-center">
                    <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0"><a class="img-landing-banner"
                            href="#!"><img class="img-fluid" src="./assets/img/gallery/hero-header.png"
                                alt="hero-header" /></a></div>
                    <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
                        <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">{{ store?.name }}</h1>
                        <h1 class="text-800 mb-5 fs-4">{{ tConvert(store?.open_hour) }} to {{ tConvert(store?.close_hour) }}<br class="d-none d-xxl-block" />{{ store?.address }}</h1>
                        <button class="btn btn-danger" type="button" (click)="back()">Go Back</button>
                    </div>
                </div>
            </div>
        </section>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-4 overflow-hidden">

            <div class="container">
                <div class="row h-100">
                    <div class="col-lg-7 mx-auto text-center mt-7 mb-5">
                        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm">Our Menu</h5>
                    </div>
                    <div class="col-12">
                        <div class="carousel slide" id="carouselPopularItems" data-bs-touch="false"
                            data-bs-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <div class="row gx-3 h-100 align-items-center">
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/cheese-burger.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Burger Arena</span></div><span
                                                        class="text-1000 fw-bold">$3.88</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/toffes-cake.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Toffe's Cake</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Top Sticks</span></div><span
                                                        class="text-1000 fw-bold">$4.00</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/dancake.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Dancake</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Cake World</span></div><span
                                                        class="text-1000 fw-bold">$1.99</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/crispy-sandwitch.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Crispy Sandwitch
                                                    </h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Fastfood Dine</span></div><span
                                                        class="text-1000 fw-bold">$3.00</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/thai-soup.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Thai Soup</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Foody Man</span></div><span
                                                        class="text-1000 fw-bold">$2.79</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="5000">
                                    <div class="row gx-3 h-100 align-items-center">
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/cheese-burger.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Burger Arena</span></div><span
                                                        class="text-1000 fw-bold">$3.88</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/toffes-cake.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Toffe's Cake</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Top Sticks</span></div><span
                                                        class="text-1000 fw-bold">$4.00</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/dancake.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Dancake</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Cake World</span></div><span
                                                        class="text-1000 fw-bold">$1.99</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/crispy-sandwitch.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Crispy Sandwitch
                                                    </h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Fastfood Dine</span></div><span
                                                        class="text-1000 fw-bold">$3.00</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/thai-soup.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Thai Soup</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Foody Man</span></div><span
                                                        class="text-1000 fw-bold">$2.79</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="3000">
                                    <div class="row gx-3 h-100 align-items-center">
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/cheese-burger.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Burger Arena</span></div><span
                                                        class="text-1000 fw-bold">$3.88</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/toffes-cake.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Toffe's Cake</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Top Sticks</span></div><span
                                                        class="text-1000 fw-bold">$4.00</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/dancake.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Dancake</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Cake World</span></div><span
                                                        class="text-1000 fw-bold">$1.99</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/crispy-sandwitch.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Crispy Sandwitch
                                                    </h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Fastfood Dine</span></div><span
                                                        class="text-1000 fw-bold">$3.00</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/thai-soup.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Thai Soup</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Foody Man</span></div><span
                                                        class="text-1000 fw-bold">$2.79</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row gx-3 h-100 align-items-center">
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/cheese-burger.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Cheese Burger</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Burger Arena</span></div><span
                                                        class="text-1000 fw-bold">$3.88</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/toffes-cake.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Toffe's Cake</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Top Sticks</span></div><span
                                                        class="text-1000 fw-bold">$4.00</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/dancake.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Dancake</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Cake World</span></div><span
                                                        class="text-1000 fw-bold">$1.99</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/crispy-sandwitch.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Crispy Sandwitch
                                                    </h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Fastfood Dine</span></div><span
                                                        class="text-1000 fw-bold">$3.00</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                                            <div class="card card-span h-100 rounded-3"><img
                                                    class="img-fluid rounded-3 h-100"
                                                    src="./assets/img/gallery/thai-soup.png" alt="..." />
                                                <div class="card-body ps-0">
                                                    <h5 class="fw-bold text-1000 text-truncate mb-1">Thai Soup</h5>
                                                    <div><span class="text-warning me-2"><i
                                                                class="fas fa-map-marker-alt"></i></span><span
                                                            class="text-primary">Foody Man</span></div><span
                                                        class="text-1000 fw-bold">$2.79</span>
                                                </div>
                                            </div>
                                            <div class="d-grid gap-2"><a class="btn btn-lg btn-danger" href="#!"
                                                    role="button">Add to Cart</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev carousel-icon" type="button"
                                data-bs-target="#carouselPopularItems" data-bs-slide="prev"><span
                                    class="carousel-control-prev-icon hover-top-shadow" aria-hidden="true"></span><span
                                    class="visually-hidden">Previous</span></button>
                            <button class="carousel-control-next carousel-icon" type="button"
                                data-bs-target="#carouselPopularItems" data-bs-slide="next"><span
                                    class="carousel-control-next-icon hover-top-shadow" aria-hidden="true"></span><span
                                    class="visually-hidden">Next </span></button>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 pt-7 bg-1000">

            <div class="container">

                <hr class="border border-800" />
                <div class="row flex-center pb-3">
                    <div class="col-md-6 order-0">
                        <p class="text-200 text-center text-md-start">All rights Reserved &copy; Your Company, 2021</p>
                    </div>
                    <div class="col-md-6 order-1">
                        <p class="text-200 text-center text-md-end"> Made with&nbsp;
                            by&nbsp;<a class="text-200 fw-bold" href="https://themewagon.com/"
                                target="_blank">ThemeWagon </a>
                        </p>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->


    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->


</body>

</html>
